@media (min-width: 320px) and (max-width: 1200px) {
  body {
    background-color: #111230;
    color: white;
  }

  body img {
    width: 100%;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    z-index: 10;
    width: 100%;
    max-height: 300px;
    overflow: auto;
  }
  
  .dropdown a {
    color: #000;
    font-size: 18px;
    padding: 10px;
  }
  
  .dropdown a:hover {
    background-color: #eee;
  }

  .nav--btn {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 24px;
    color: white;
    display: block;
    cursor: pointer;
  }

  .home--section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .top--side {
    padding-top: 20px;
  }

  .top--side h1 {
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding-bottom: 5px;
  }

  .top--side h2 {
    font-size: 28px;
    margin: 0;
    font-weight: 600;
    padding-bottom: 5px;
    color: #61dafb;
  }

  .top--side h2 span {
    color: #d76627;
  }

  .top--side h3 {
    font-size: 23px;
    font-weight: 500;
    margin: 0;
  }

  .about--section {
    padding: 20px;
  }

  .title {
    text-align: center;
    color: #61dafb;
  }

  .title span {
    color: white;
    font-size: 30px;
  }

  .about--section--cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about--section--cards h2 {
    color: #d76627;
  }

  .about--section--cards h2 span {
    color: #61dafb;
  }

  .nationality {
    border: 2px solid #61dafb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nationality img {
    width: 50%;
  }

  .languages {
    border: 2px solid #d76627;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .languages--image {
    width: 40%;
    display: flex;
    justify-content: center;
  }

  .languages--image img {
    margin: 0 10px;
  }

  .languages--levels {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .languages--levels h3 {
    margin: 5px 25px;
    padding-left: 25px;
  }

  .education {
    border: 2px solid #61dafb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .education img {
    width: 50%;
  }

  .education h3 {
    font-size: 15px;
  }

  .skills {
    padding: 10px;
  }

  .skills--cards {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .html,
  .css {
    background-color: #2d303d;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 50px;
  }

  .html i {
    color: #d76627;
  }

  .css i {
    color: #61dafb;
  }

  .contact--section {
    padding: 10px;
    text-align: center;
  }

  .contact--title h1 {
    text-transform: uppercase;
    font-size: 20px;
    word-spacing: 5px;
    margin-bottom: 20px;
  }

  .span--color-1,
  .span--color-2 {
    color: #d76627;
  }

  input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #61dafb;
    width: 100%;
    padding-bottom: 3px;
    margin-bottom: 20px;
    font-size: 15px;
    outline: none;
    color: white;
  }

  textarea {
    background-color: transparent;
    border: 2px solid #61dafb;
    width: 100%;
    font-size: 15px;
    outline: none;
    color: white;
  }

  .submit--btn {
    border: none;
    background-color: #d76627;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
  }

  .bottom--socials i {
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    background-image: linear-gradient(180deg, #111320 0%, #090979 35%);
    font-size: 18px;
    cursor: pointer;
    color: white;
  }
}
